


.flex-table{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.empty-div{
    height: 55vh;
}
@media (max-width: 575px) {
    .style-content{
        flex-wrap: wrap !important;
        justify-content: center;
        padding-top: 20px;
        gap: 20px
    }
}
@media (max-width: 575px){
    .content{
        width: 100%;
    }
}
@media (max-width: 575px){
    .content-img{
        width: 100%;
    }
}

@media (max-width: 575px){
    .content-img img{
        width: 100%!important;
    }
}